.sidebar {
  height: calc(100vh - var(--navbar-height));
  width: 300px;
  padding: 20px;
  background: var(--inverted-bg-color);
  display: flex;
  flex-direction: column;
  transition: width 0.2s;

  &.collapsed {
    width: 72px;
    overflow: hidden;
  }

  .collapseButton {
    width: 30px;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s;
  }

  .bottomToolbar {
    margin: auto auto 20px;
    display: flex;
    gap: 15px;
    flex-direction: column;
  }
}
